<mat-toolbar color="primary">
  <span>My Todos</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="To do">
    <div class="container">
      <div class="md-container">
        <div class="todo-container">
          <mat-card *ngFor="let item of todoItemsIncomplete" class="todo-card">
            <mat-checkbox (change)="toggleTodo(item)" [checked]="item.done">
              {{item.text}}
            </mat-checkbox>
            <button mat-icon-button matTooltip="Delete" aria-label="Delete" (click)="removeTodo(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
        <div class="add-todo-container">
          <mat-form-field appearance="outline">
            <mat-label>Add todo</mat-label>
            <input #newTodoInput matInput (keyup.enter)="addTodo(newTodoInput.value)" placeholder="What do you want to do?">
          </mat-form-field>
          <button mat-icon-button matTooltip="Submit" aria-label="Submit" (click)="addTodo(newTodoInput.value)">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Done">
    <div class="container">
      <div class="md-container">
        <div class="todo-container">
          <mat-card *ngFor="let item of todoItemsComplete" class="todo-card">
            <mat-checkbox (change)="toggleTodo(item)" [checked]="item.done">
              {{item.text}}
            </mat-checkbox>
            <button mat-icon-button matTooltip="Delete" aria-label="Delete" (click)="removeTodo(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="All">
    <div class="container">
      <div class="md-container">
        <div class="todo-container">
          <mat-card *ngFor="let item of todoItems" class="todo-card">
            <mat-checkbox (change)="toggleTodo(item)" [checked]="item.done">
              {{item.text}}
            </mat-checkbox>
            <button mat-icon-button matTooltip="Delete" aria-label="Delete" (click)="removeTodo(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
